body{
    background-color: #ececec;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main>section:nth-child(1){
    background-color: #2196f3;
    width: 85vw;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.displayscreen{
    height: 8vh;
    border-radius: 5px;
    border: none;
    background-color: #e4f2fd;
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.btncontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 85vw;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
}
.btncontainer>div{
    background-color: #1564c0;
    border-radius: 5px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.zero{
    grid-area: 5/3/5/1;
}
.btncontainer>div:last-child{
    grid-area: 6/5/4/4;
}
