@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);

html{
    width: 100%;
}

body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    scroll-behavior: smooth;
}

header{
    position: absolute;
    width: 98vw;
}

.scrollingheader{
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: all .3s ease-out;
}

nav{
    display: flex;
    justify-content: space-evenly;
    min-height: 80px;
    background: transparent;
    height: 85px;
    align-items: center;
    max-width: 100vw;
    margin: 8px 30px;
}

nav>a{
    line-height: 80px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    justify-self: left;
}

.hamburger{
    display: none;
}

nav>ul{
    list-style: none;
    display: flex;
    padding: 0px;
    justify-self: right;
}

nav>ul>li {
    display: flex;
    margin:0px 12px;
}

nav>ul>li>a{
    display: block;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0px 8px;
    text-transform: uppercase;
}

nav>ul>li a:hover{
    color: #e7727d;
    transition: color .3s ease 0s;
}

.scrollingheader a{
    color: black;
}

.heighlit{
    color: #f55858 !important ;
    transition: all .3s ease-out;
}

.scrollingheader .drop_down_mum::after{
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 12px;
    color: black;
    margin-top: 14px;
}

.drop_down{
    visibility: hidden;
    list-style: none;
    height: auto;
    background-color: #fff;
    width: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
}

.drop_down>li{
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.drop_down>li>a{
    display: block;
    color: #3b566e;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    border-bottom: 1px solid #f5f5f5;
    text-decoration: none;
}

.drop_down_mum:hover >.drop_down{
    visibility: visible;
    transform: translateY(.5em);
    transition: all .5s ease-out;
}

.drop_down>li>a:hover{
    border-left: solid #eb8993 5px;
    transition: all .5s ease-out;
}

.drop_down_mum::after{
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 12px;
    color: #fff;
    margin-top: 14px;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#HOME{
    background-image: url(1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 77% ;
    width: 98vw;
    height: 95vh;
    position: initial;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0px auto;
}

#HOME>div{
    width: 36vw;
    margin: 80px 0px 0px 0px;
}

#HOME>div:first-child{
    margin-top: 96px;
    margin-right: 15px;
}

#HOME>div>h1{
    font-weight: 400;
    font-size: 62px;
    line-height: 80px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
}

#HOME>div>p{
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
}

#HOME>div>button{
    font-size: 13px;
    border: transparent;
    border-radius: 20px ;
    padding: 12px 20px;
    background-color: #f55858;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    transition: all .3s ease-out;
}

#HOME>div>button:hover{
    background-color: #0088e8;
}

#HOME>div>button>a{
    text-decoration: none;
    color: #fff;
}

#HOME>div>img{
    width: 530px;
    height: 470px;
    margin-left: 15px;
}

#about1{
    display: flex;
    padding: 120px 0px;
    justify-content: center;
    border-bottom: 1px solid #eee;
    width: 98vw;
}

#about1>div{
    margin: 0px 15px;
}

#about1>div>h2{
    font-size: 26px;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 40px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
    max-width: 30vw;
}

#about1>div>p{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    max-width: 430px;
    margin: 25px 0px;

}

#about1>div>p>a{
    text-decoration: none;
    color: #007bff;
}

#about1>div>p>a:hover{
    color: #0056b3;
}

#about1>div>p::selection{
    color: #fff;
    background-color: #ff589e;
}

#about1>div>button{
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #00b4c6;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    border: transparent;
    margin: 25px 0px 0px 0px;
}

#about1>div>button:hover{
    background-color: #0056b3;
}

#about1>div>button:focus{
    outline: none;
}

#about1>div>button>a{
    color: #fff;
    text-decoration: none;
}

#about2{
    display: flex;
    padding: 120px 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 98vw;
}

#about2::selection{
    color: #fff;
    background-color: #ff589e;
}

#about2>div{
    padding: 0px 15px;
    width: auto;
}

#about2>div>h2{
    font-size: 26px;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 40px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
    width: 30vw;
}

#about2>div>p ,#about2>div>div>div>p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    width: 28vw;
}

#about2>div>div{
    display: flex;
    flex-direction: row;
}

#about2>div>div>img{
    height: 60px;
    width: 60px;
}

#about2>div>div>div>h3{
    font-size: 21px;
    font-weight: 600;
    color: #1e1e1e;
    margin: 0px;
}

#about2>div>div>div>p>a{
    text-decoration: none;
    color: #007bff;
}

#about2>div>div>div>p>a:hover{
    color: #0056b3;
}

#about2>div>div>div{
    padding: 0px 0px 30px 20px;
}

#about2>div>div>div>p{
    width: 24vw;
}

#SERVICES{
    padding: 120px 0px;
    background: linear-gradient( 135deg, rgba(0, 136, 232, 1) 0%, rgba(0, 182, 198, 1) 0%, rgba(0, 136, 232, 1) 100% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98vw;
    position: relative;
}
/*
#SERVICES>div{
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.counter{
    width: 68vw;
    display: flex;
    align-items:center;
    justify-content: left;
    transition: .5s;
}

.move_buttons{
    border-radius: 50%;
    border: transparent;
    font-size: 36px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #fafafa26;
}

.move_buttons:focus{
    outline: none;
}

.move_buttons:hover{
    cursor: pointer;
}

.move_button1::after{
    content: '\f104';
    color: #fff;
    font-family: 'FontAwesome';
}

.move_button2::after{
    content: '\f105';
    color: #fff;
    font-family: 'FontAwesome';
}

.swiper {
    width: 69vw;
    height: 50vh;
}

.swiper-button-prev{
    left: 180px;
}
.swiper-button-next{
    right: 180px;
}
.swiper-button-next,
.swiper-button-prev{
    color: white;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 60px;
}

.swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    background: white;
}

.servises{
    background-color: #fff;
    width: 335px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    transition: .5s;
}

.servises:hover{
    cursor: pointer;    
}

.servises:hover >.services_img_counter,
.servises:hover >.option_button{
    background-color: #0088e8;
    transition: all .3s ease-out;
}

.services_img_counter{
    border-radius: 50%;
    background: #00b4c6;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servises>img{
    width: 50px;
    height: 50px;
    padding: 25px;
    line-height: 100px;
    margin-bottom: 30px;
}

.servises>h4{
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.servises>p{
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0px 30px;
}

.option_button{
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #00b4c6;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    margin: 30px 0px 0px 0px;
    display: inline-block;
    border: transparent;
    transition: all .3s ease-out;
}

.option_button:hover{
    cursor: pointer;
}

.option_button>a{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.indicat_button{
    border-radius: 50%;
    width: 5px;
    height: 5px;
    border: transparent;
    color: #fff;
    margin: 60px 5px 0px 5px;
    transition: all .3s ease-out;
}

.indicat_button:hover{
    cursor: pointer;
}

.indicat_button:focus{
    outline: none;
}

#Frequently_Questions{
    display: flex;
    padding: 120px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Frequently_Questions>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

#Frequently_Questions>div>h2{
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #232323;
    margin: 0px 0px 20px 0px;
}

#Frequently_Questions>div>p{
    font-size: 17px;
    color: #777;
    text-align: center;
    margin:0px 0px 80px 0px;
    line-height: 25px;
    max-width: 450px;
}

.Questions{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 0px;
    flex-direction: row;
}

.Questions>div{
    margin: 0px 15px;
    max-width: 530px;
    height: fit-content;
}

.Questions>div>h3{
    font-size: 26px;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 40px;
    margin:8px 0px 25px 0px;
    letter-spacing: 0.5px;
}

.Questions>div>p{
    margin:0px 0px 30px 0px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.Questions>div>p>a{
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.Questions>div>p>a:hover{
    color: #0056b3;
}

.Questions>div>button{
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #00b4c6;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    margin: 30px 0px 0px 0px;
    display: inline-block;
    border: transparent;
    transition: all .3s ease-out;
}

.Questions>div>button:hover{
    cursor: pointer;
    background-color: #0088e8;
}

.Questions>div>button>a{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.question_examples{
    width: 530px;
}

.question_examples>article{
    padding:8px 16px;
    background-color: #f7f7f7;
    margin: 1px 0px;
}

.question_answers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question_answers:hover{
    cursor: pointer;
}

.question1 i{
    transform: rotate(90deg);
}

.artical_title1,
.artical_title2,
.artical_title3,
.artical_title4,
.artical_title5,
.artical_title6{
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 8px;
}

.common_question_title{
    color: #0088e8;
    transition: all .3s ease-out;
}

.is_closed h3{
    color: #212529 !important;
    transition: all .3s ease-out;
}

.is_closed i{
    transform: rotate(0deg) !important;
    color: #212529 !important;
    transition: all .3s ease-out;
}

/*هزوده فال jsعالi , h3 لما اضغط عشان يلون ازرق*/
.artical_detels h3{
    color: #0088e8;
    transition: all .3s ease-out;
}

.artical_detels i{
    color: #0088e8; 
    transform: rotate(90deg);
    transition: all .3s ease-out;
}
/*هنزوده للp*/
.open{
    height: auto;
    transition: all .5s ease-out;
}

.close .common_question{
    overflow: hidden !important;
    max-height: 0px !important;
    transition: all .5s ease-out;
}

.question2_detels,
.question3_detels,
.question4_detels,
.question5_detels,
.question6_detels{
    padding: 4px;
    margin: 0px;
    font-size: 15px;
    line-height: 25px;
    color: #4a4a4a;
    overflow: hidden;
    max-height: 0px;
    transform: translateY(-10deg);
    transition: all .5s ease-out;
}

.common_question p{
    display: block;
}

#contact_us{
    display: flex;
}

#contact_us>div{
    width: 50vw;
}

#contact_us>form{
    background: linear-gradient( 135deg, rgba(0, 136, 232, 1) 0%, rgba(0, 182, 198, 1) 0%, rgba(0, 136, 232, 1) 100% );
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

#contact_us>form>div>input{
    width: 124px;
}

#contact_us>form>div input,
#contact_us>form textarea{
    font-size: 14px;
    border: none;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
    appearance: none;
    margin:0px 15px 30px 15px;
    background-color: rgba(250, 250, 250, 0.3);
}

::-webkit-input-placeholder{
    color: #fff;
}

#contact_us>form textarea{
    height: 150px;
    resize: none;
    padding: 20px;
    width: 322px;
}

#contact_us button{
    font-size: 13px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f55858;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    outline: none;
    border: none;
    transition: all 0.3s ease 0s;
    width: auto;
}

#contact_us button:hover{
    background-color: #0088e8;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0px;
}

footer>p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: #4a4a4a;
    letter-spacing: 0.88px;
    text-transform: capitalize;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

footer>p>a{
    color: #007bff;
    text-decoration: none;
}

footer>p>a:hover{
    color: #0088e8;
}

footer>ul{
    display: flex;
    list-style: none;
    margin: 0px;
}

footer>ul>li{
    background-color: #00b4c6;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
}

.icons{
    color: #00b4c6;
    background-color: #fff;
}

.fa-facebook-f{
    width: 18px;
    height: 17px;
}

.fa-twitter{
    width: 17px;
    height: 17px;
}

/*764px*/

@media(max-width:764px){
    body,
    header,
    main,
    section,
    footer{
        width: 100vw;
        height: auto;
    }

    nav{
        margin: auto;
        justify-content: space-around;
    }

    nav>a{
        line-height: 60px;
        color: #fff;
        font-size: 28px;
        justify-self: left;
    }
    
    nav>ul{
        display: none;
    }

    .hamburger span{
        display: block;
        flex-direction: row;
        width: 30px;
        height: 2px;
        margin-bottom: 5px;
        background: white;        
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        background: transparent;
        border: none;
    }

    .hamburger:hover{
        cursor: pointer;
    }
    
    .hamburger:focus{
        outline: none;
    }

    .scrollingheader .hamburger span{
        background: black;
    }

    .hamburgermenu{
        display: block;
        width: 72vw;
        height: 301px;
        background-color: white;
        position: absolute;
        top: 69px;
    }

    .nistlist{
        display: flex;
        width: 72vw;
        height: 200px;
        background-color: white;
        position: absolute;
        top: 251px;
        right: 0px;
        visibility: visible;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*transform: translateY(1em);
        transition: all .5s ease-out;*/
    }
    
    .movedown{
        transform: translateY(12.5em);
    }

    .nistlist li a{
        align-items: center;
    }

    .hamburgermenu li{
        height: 49px ;
        line-height: 50px;
        padding: 0px;
        border: none;
        background: #fff;
        border-top: 1px solid #eee;
        margin: 0px;
        display: flex;
        width: 72vw;
    }

    .hamburgermenu>li:first-child{
        background: #eee;
    }

    .hamburgermenu li:hover{
        background: #eee;
        transition: all .3s ease-out;
        cursor: pointer;
    }

    .hamburgermenu li a{
        color: #3b566e; 
        margin: auto; 
        align-items: center;
    }
    
    .hamburgermenu li a:hover{
        color: #3b566e; 
    }

    .drop_down_mum::after {
        color: #3b566e;
        right: 10px ;
        font-size: 14px;
        bottom: 12px;
        position: relative;
    }

    /*.drop_down_mum:hover >.drop_down{
        transform: none;
        transition: none;
        /*display: none;
        visibility: hidden;
    }

    .drop_down:hover{
        transition: 0px;
        transform:none;
        visibility: visible;
    }

    
.drop_down:not(.drop_down_mum):hover{
    visibility: visible;
    transform: translateY(.5em);
    transition: all .5s ease-out;
}*/

    .drop_down>li>a {
        border: none;
    }

    .drop_down>li>a:hover {
        border-left: 0px;
        transition: none;
    }

    .listopenright{
        transform: rotate(45deg);
        transition: all .3s ease-out;
        margin-bottom: 0px !important;
    }

    .diably{
        display: none !important;
    }

    .listopenleft{
        transform: rotate(-45deg);
        transition: all .3s ease-out;
        margin-bottom: 0px !important;
    }
    
.arrowdown::after{
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 12px;
    color: black;
    margin-top: 0px;
    padding-right: 10px;
}

    #HOME{
        flex-direction: column;
        margin-bottom: 100px;
    }

    #HOME>div {
        margin: 0px auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #HOME>div:first-child {
        margin-top: 0px;
        margin-right: auto;
        width: 500px;
    }

    #HOME>div>h1{
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin:0px ;
        text-align: center;
    }

    #HOME>div>p{
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 30px;
    }

    #HOME>div>button{
        width: fit-content;
    }

    #HOME>div>img{
        width: 80%;
        height: 369px;
        margin-top: 20px;
    }

    #about1,
    #about2{
        flex-direction: column;
        align-items: center;
        padding: 0px;
        padding-bottom: 120px;
    }

    #about1>div{
        margin: 0px;
    }

    #about1>div:first-child img,
    #about2>div img{
        width: 510px;
        height: 381px;
    }

    #about1>div>h2,
    #about1>div>p{
        max-width: 500px;
    }

    #about2{
        padding-top: 120px;
    }

    #about2>div>h2,
    #about2>div>p{
        width: 500px;  
        margin-top: 0px; 
    }
    #about2>div>div>div>p{
        width: 433px;
    }

    #about2>div img{
        margin-bottom: 60px;
    }

    .move_buttons{
        display: none;
    }

    .servises{
        min-width: 181px;
        margin: 0px 30px;
        padding: 40px 30px;
        height: 10vh;
        height: auto;
    }

    #Frequently_Questions>div{
        width: 510px;
    }

    #Frequently_Questions>div>p {
        max-width: 510px;
    }

    .Questions{
        flex-direction: column;
    }

    .Questions>div{
        margin: 0px 0px 60px 0px;
    }

    #contact_us{
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    #contact_us>div{
        height: 500px;
        width: 100vw;
    }

    #contact_us>form{
        width: 100vw;
        padding: 60px;
    }

    #contact_us>form>div{
        display: flex;
        flex-direction: column;
    }

    #contact_us>form>div input,
    #contact_us>form textarea{
        width: 82.4vw;
        margin: 0px 0px 30px 0px;
    }

    footer{
        flex-direction: column;
    }

    footer>ul{
        margin: 15px 0px 0px 0px;
    }
}